@charset "UTF-8";
/*Concerning the Whole Page*/

body{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	background: radial-gradient(#AEBCC3, #D8E9F2);
}
p {
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
h2 {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	line-height: 50px;
}
/*Concerning Everything Above the Line*/
h1, .aboutMe h2{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	margin: 0;
}
.aboutMe {
	border-bottom: thin double black;
	
}
/*Concerning from 'Project List to the End of the List'*/
#boxes {
	background: linear-gradient(#AAD9F0,#DDECF4) !important;
}
.projects {
	border-bottom:medium ridge #ACBCC4;
	border-top:medium ridge #ACBCC4;
	border-left: medium ridge black;
	border-right: medium ridge black;
	padding: auto;
}
ul {
	border-top: thin dotted #9DB7BF;
	border-bottom: thin dotted #9DB7BF;
}
.projects li{
	background-color: rgba(174, 188, 195, .15) !important;
	text-align: justify;
	font-size: 16px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font: normal;
}
/*Concerning the Copyright and Validation*/
.copyrightValid {
	align-content:center;
}
