@charset "UTF-8";
/*Concerning the Whole Page*/

body{
	background: repeat url(https://github.com/2020spring2/2020spring2.github.io/blob/master/cloudsLightBlueSky.jpg?raw=true);
}
p {
	font-family:"Palatino Linotype";
}
h2 {
	font-family:Cambria;

	line-height: 50px;
}
/*Concerning Everything Above the Line*/
h1, .aboutMe h2{
	font-family:Cambria;
	margin: 0;
}
.aboutMe {
	border-bottom: thin double black;
	
}
/*Concerning from 'Project List to the End of the List'*/
#boxes {
	background: linear-gradient(-45deg, #B1CFE9,#B1BEE9) !important;
}
.projects {
	border-bottom:medium ridge #ACBCC4;
	border-top:medium ridge #ACBCC4;
	border-left: medium ridge black;
	border-right: medium ridge black;
	padding: 0 auto;
}
ul {
	border-top: thin dotted #9DB7BF;
	border-bottom: thin dotted #9DB7BF;
}
.projects li{
	background-color: rgba(174, 188, 195, .15) !important;
	text-align: justify;
	font-size: 16px;
	font-family: Gotham;
	
}
a {
	color: #000000;
}
a:hover {
	color: #002A5E;
	background:rgba(57,188,192,0.05);
	border: 1px dotted #000000;
}
/*Concerning the Copyright and Validation*/
.copyrightValid {
 align-content: center;
}
a.valid {
	border: none !important;
}
/*Website for Color Picking: 
		https://htmlcolorcodes.com/color-picker/*/
